{% extends './base_auth.html' %}

{% block title%}Login{% endblock %}

{% block content %}
<div class="card bg-light p-5">
    <h2 data-aos="fade-up" class="text-dark">Login</h2>
    <form action="." method="POST">
        {% csrf_token %}
    
        <label for="email">Email</label>
        <div class="form-group p-2">
           {{ form.username }}
        </div>
    
        <label for="pass1">Password</label>
        <div class="form-group p-2">
           {{ form.password }}
        </div>
    
        <br>
        <button type="submit" class="btn btn-dark m-2">Login</button>
        <br>
        Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
        <br>
        
        {% if form.errors or form.non_field_errors %}
        <p class="form-group">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}

            {{ form.non_field_errors }}
        </p>
        {% endif %}
    
    </form>
</div>

{% endblock %}