{% extends 'base.html' %}


{% block title %}Contact Us{% endblock %}


{% block body %}

<h1 class="text-center">Contact Us</h1>
<div class="container mt-2">
<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">

        <form class="form" action="" method="POST">
              {% csrf_token %}  
              {% for field in form %}
                <div class="form-group my-2">
                    <label>{{field.label}}</label>
                    {{field}}
                </div>

              {% endfor %}
              <div class="my-3">
                <button type="submit" class="btn btn-dark btn-lg">Send</button>
              </div>
        </form>

    </div>
    <div class="col-md-3"></div>

</div>

</div>

{% endblock %}