{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container">
  
          <div class="section-title">
            <h2>Welcome to Store</h2>
            <h3>Check our <span>Products</span></h3>
          </div>
          
        {% for category in categories %}
          <h3 class="my-3 text-center text-success bg-light">{{category.name}} Flashsale</h3>
          <div class="container">
            <div class="row">
              {% for product in category.products.all|slice:'0:4' %}
                  <div class="col-md-3 mt-3">
                    <img src="{{ product.image.url }}"  alt="{{product.product_name}}" class="card-img-top" height="200px" width="150px">
                    <div class="card-body">
                      <h5 class="card-tite mt-2" id="namepr{{product.id}}"">{{product.product_name}}</h5>
                      <p class="card-text">{{product.description|slice:'0:53'}}...</p>
                      <h6 class="card-title mb-3">Price: <span id="pricepr{{product.id}}">{{product.price}}</span></h6>
                      <span id="divpr{{product.id}}"class="divpr">
                        <button id="pr{{product.id}}" class="btn btn-danger cart btn-sm mt-0">Add To Cart</button>
                      </span>
                      <a href="{{product.image.url}}"><button class="btn btn-dark btn-sm cart">View</button></a>
                    </div>
                  </div>

              {% endfor %}

            </div>
          </div>

        {% endfor %}
  
        </div>
      </section><!-- End Portfolio Section -->
{% endblock %}